//  --- Articles

.articles {
  padding: 5.5rem 1.5rem;
  background-color: $very-light-gray;
  // @include breakpoint-up(large) {
  //   padding: 5rem 10.3125rem;
  // }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    margin: 0 0 1.9375rem 0;
  }
  &__grid {
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .article {
      margin: 0 auto;
      max-width: 25rem;
      background-color: $white;
      border-radius: 0.3125rem;
      box-shadow: 0px 3px 10px $grayish-blue;
      &:not(:last-child) {
        margin-bottom: 1.5625rem;
      }
      @include breakpoint-up(medium) {
        &:last-child {
          margin-bottom: 1.5625rem;
        }
      }
      &__img {
        border-radius: 5px 5px 0px 0px;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 25rem;
        @include breakpoint-up(medium) {
          min-height: 14.6875rem;
        }
      }
      &__text {
        padding: 1.5625rem 1.9375rem;
        span {
          color: $grayish-blue;
          font-size: 10px;
          line-height: 18px;
          letter-spacing: -0.15625px;
        }
        h4 {
          font-weight: 300;
          line-height: 20px;
          letter-spacing: -0.285714px;
        }
        p {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.203125px;
        }
      }
    }
  }
}
