//  --- Articles

.articles {
  padding: 5.5rem 1.5rem;
  background-color: $very-light-gray;
  @include breakpoint-up(large) {
    padding: 5rem 10.3125rem;
    max-width: 89rem;
  }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    margin: 0 0 1.9375rem 0;
    // Specific media queries
    @media (min-width: 1360px) {
      text-align: left;
    }
  }
  &__grid {
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      max-width: 45rem;
      margin: 0 auto;
    }
    // Specific media queries
    // Change grid at 1360px cause at lower rate it's
    //   seems to be pretty ugly.
    @media (min-width: 1360px) {
      grid-template-columns: repeat(4, 1fr);
      max-width: unset;
      gap: 30px;
      max-width: unset;
      margin: unset;
    }
    // @include breakpoint-up(large) {
    //   grid-template-columns: repeat(4, 1fr);
    //   max-width: unset;
    // }
    .article {
      margin: 0 auto;
      max-width: 25rem;
      background-color: $white;
      border-radius: 0.3125rem;
      box-shadow: 0px 3px 10px $grayish-blue;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1.5625rem;
      }
      @include breakpoint-up(medium) {
        max-width: 45rem;
        &:not(:last-child) {
          margin-bottom: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__img {
        border-radius: 5px 5px 0px 0px;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 25rem;
        @include breakpoint-up(medium) {
          min-height: 14.6875rem;
          max-height: 235px;
        }
      }
      &__text {
        padding: 1.5625rem 1.9375rem;
        span {
          color: $grayish-blue;
          font-size: 10px;
          line-height: 18px;
          letter-spacing: -0.15625px;
        }
        h4 {
          font-weight: 300;
          line-height: 20px;
          letter-spacing: -0.285714px;
        }
        p {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.203125px;
        }
      }
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
