// --- Hero Section

.hero {
  @include breakpoint-up(xlarge) {
    display: flex;
    min-height: 41rem;
    max-width: 89rem;
  }
  &__img {
    position: relative;
    background-image: url(../../../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 17.6875rem;
    background-position: 0px -3rem;
    @include breakpoint-up(medium) {
      min-height: 22.6875rem;
    }
    @include breakpoint-up(large) {
      background-position: -116px -32rem;
      background-size: 126%;
    }
    @include breakpoint-up(xlarge) {
      flex: 3;
      order: 1;
      background-image: url(../../../images/bg-intro-desktop.svg);
      background-size: 210%;
      background-position: -84px -20rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../../../images/image-mockups.png);
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center -6.0625rem;
      @include breakpoint-up(medium) {
        background-position: center -6.0625rem;
        height: 109%;
        background-size: 65% 130%;
      }

      @include breakpoint-up(large) {
        height: 155%;
        background-size: 59% 112%;
        background-position: 253px -10.0625rem;
      }

      @include breakpoint-up(xlarge) {
        height: 121%;
        background-size: 112% 122%;
        background-position: 107px -10.0625rem;
      }
    }
  }

  &__txt {
    text-align: center;
    @include breakpoint-up(medium) {
      padding: 20px 0 0 0;
      margin: 0 auto;
    }
    @include breakpoint-up(large) {
      padding: 80px 100px 0px 100px;
    }
    @include breakpoint-up(xlarge) {
      text-align: left;
      flex: 1.5;
      padding: 10.625rem 5.375rem 10.625rem 10.3125rem;
    }
    h1 {
      color: $dark-blue;
      font-weight: 300;
      font-size: 2.5rem;
      line-height: 2.9375rem;
      letter-spacing: -0.714286px;
      margin-bottom: 1rem;
      @include breakpoint-up(large) {
        font-size: 3.375rem;
        line-height: 4rem;
        letter-spacing: -1px;
        margin-bottom: 1.5rem;
      }
    }
    p {
      color: $grayish-blue;
      font-weight: 300;
      font-size: $mob-lg;
      line-height: $lh-mob-lg;
      letter-spacing: -0.234375px;
      @include breakpoint-up(large) {
        font-size: $desk-lg;
        line-height: 1.75rem;
        letter-spacing: -0.28125px;
        margin: 0;
      }
    }
    .button-cta {
      margin: 0 auto;
      margin: 2rem auto 5.4375rem auto;
      @include breakpoint-up(medium) {
        margin: 20px auto;
      }
      @include breakpoint-up(xlarge) {
        margin: 2.25rem auto 0 0;
      }
    }
  }
}
