.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 22.5rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #2d314d;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  color: #9698a6;
}

a {
  text-decoration: none;
  color: #9698a6;
}

.noscroll {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-dir-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.p-lr {
  padding: 0 1.5rem;
}

@media (max-width: 63.9375rem) {
  .hide-for-mob {
    display: none;
  }
}

@media (min-width: 64rem) {
  .hide-for-desk {
    display: none;
  }
}

.button-cta {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  width: 10.1875rem;
  height: 2.75rem;
  border-radius: 50px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.button-cta:hover {
  opacity: 0.75;
}

header {
  padding: 1.375rem 1.5rem;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 40rem) {
  header {
    max-width: 62.85rem;
  }
}

@media (min-width: 87.5rem) {
  header {
    padding: 1.375rem 10.3125rem;
    min-width: 89rem;
  }
}

header .header--logo {
  width: 8.6875rem;
  height: 1.25rem;
}

header .header--menu--link {
  position: relative;
  font-size: 0.875rem;
  line-height: 1rem;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

header .header--menu--link:not(:last-child) {
  margin-right: 1.875rem;
}

header .header--menu--link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 0.3125rem;
  bottom: -1.5625rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

header .header--menu--link:hover {
  color: #2d314d;
}

header .header--menu--link:hover::before {
  opacity: 1;
}

header .header--hamburger {
  width: 1.5rem;
  height: 0.6875rem;
  cursor: pointer;
}

header .header--hamburger span {
  width: 100%;
  height: 0.0625rem;
  background-color: #2d314d;
  display: block;
  -webkit-transform-origin: 5px 0.8px;
          transform-origin: 5px 0.8px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header .header--hamburger span:not(:last-child) {
  margin-bottom: 4px;
}

header .overlay {
  display: block;
}

header.active .header--hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header.active .header--hamburger > span:nth-child(2) {
  opacity: 0;
}

header.active .header--hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .overlay {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background: linear-gradient(to bottom, #2d314d, transparent);
  position: fixed;
  top: 4.0625rem;
  right: 0;
  bottom: 0;
  left: 0;
}

header .header__mob-menu {
  position: absolute;
  top: 5.5rem;
  left: 50%;
  width: calc(100% - 3rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 0;
  padding: 2rem 0;
  border-radius: 0.3125rem;
  background-color: white;
}

header .header__mob-menu a {
  display: block;
  text-align: center;
}

header .header__mob-menu a:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 64rem) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 41rem;
    max-width: 89rem;
  }
}

.hero__img {
  position: relative;
  background-image: url(../../../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.6875rem;
  background-position: 0px -3rem;
}

@media (min-width: 40rem) {
  .hero__img {
    background-size: 100% 122%;
    min-height: 17.6875rem;
    background-position: 0px 0rem;
  }
}

@media (min-width: 64rem) {
  .hero__img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-image: url(../../../images/bg-intro-desktop.svg);
    background-size: 210%;
    background-position: -84px -20rem;
  }
}

.hero__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/image-mockups.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center -6.0625rem;
}

@media (min-width: 40rem) {
  .hero__img::before {
    background-position: center -6.0625rem;
    height: 109%;
    background-size: 65% 130%;
  }
}

@media (min-width: 64rem) {
  .hero__img::before {
    height: 121%;
    background-size: 93%, 90%;
    background-position: 180px -9.0625rem;
  }
}

.hero__txt {
  text-align: center;
}

@media (min-width: 40rem) {
  .hero__txt {
    margin: 0 auto;
    padding: 0 6.375rem 5.625rem 3.3125rem;
    max-width: 70%;
    text-align: center;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

@media (min-width: 64rem) {
  .hero__txt {
    text-align: left;
  }
}

@media (min-width: 87.5rem) {
  .hero__txt {
    padding: 10.625rem 5.375rem 10.625rem 10.3125rem;
  }
}

.hero__txt h1 {
  color: #2d314d;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  letter-spacing: -0.714286px;
  margin-bottom: 1rem;
}

@media (min-width: 64rem) {
  .hero__txt h1 {
    font-size: 3.375rem;
    line-height: 4rem;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
  }
}

.hero__txt p {
  color: #9698a6;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: -0.234375px;
}

@media (min-width: 64rem) {
  .hero__txt p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.28125px;
    margin: 0;
  }
}

.hero__txt .button-cta {
  margin: 0 auto;
  margin: 2rem auto 5.4375rem auto;
}

@media (min-width: 40rem) {
  .hero__txt .button-cta {
    margin: 20px auto;
  }
}

@media (min-width: 64rem) {
  .hero__txt .button-cta {
    margin: 2.25rem auto 0 0;
  }
}

.feature {
  text-align: center;
  background-color: #f3f4f6;
  padding: 4rem 1.5rem;
  max-width: 89rem;
}

@media (min-width: 64rem) {
  .feature {
    padding-left: 55px;
    text-align: left;
  }
}

@media (min-width: 87.5rem) {
  .feature {
    padding: 5.875rem 10.3125rem;
  }
}

.feature p {
  max-width: 350px;
  margin: 0 auto;
}

.feature__intro {
  margin-bottom: 3.5rem;
}

.feature__intro h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.571429px;
  margin-top: 0;
}

@media (min-width: 64rem) {
  .feature__intro h2 {
    text-align: left;
  }
}

.feature__intro p {
  font-size: 0.9375rem;
  line-height: 25px;
  letter-spacing: -0.234375px;
}

@media (min-width: 64rem) {
  .feature__intro p {
    margin: 10px;
    text-align: left;
  }
}

@media (min-width: 40rem) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 64rem) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}

.feature__grid__item {
  padding-bottom: 2rem;
}

@media (min-width: 40rem) {
  .feature__grid__item {
    width: 50%;
  }
}

@media (min-width: 64rem) {
  .feature__grid__item {
    width: auto;
  }
}

.feature__grid__icon {
  margin-bottom: 1.5rem;
}

.feature__grid__icon img {
  width: 4.5rem;
  height: 4.5rem;
}

.feature__grid__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  margin-bottom: 1rem;
}

.feature__grid__describe {
  font-size: 0.9375rem;
  line-height: 25px;
  letter-spacing: -0.234375px;
}

.articles {
  padding: 5.5rem 1.5rem;
  background-color: #fafafa;
}

@media (min-width: 64rem) {
  .articles {
    padding: 5rem 10.3125rem;
    max-width: 89rem;
  }
}

.articles h2 {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  margin: 0 0 1.9375rem 0;
}

@media (min-width: 1360px) {
  .articles h2 {
    text-align: left;
  }
}

@media (min-width: 40rem) {
  .articles__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 45rem;
    margin: 0 auto;
  }
}

@media (min-width: 1360px) {
  .articles__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    max-width: unset;
    gap: 30px;
    max-width: unset;
    margin: unset;
  }
}

.articles__grid .article {
  margin: 0 auto;
  max-width: 25rem;
  background-color: white;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0px 3px 10px #9698a6;
          box-shadow: 0px 3px 10px #9698a6;
}

.articles__grid .article:not(:last-child) {
  margin-bottom: 1.5625rem;
}

@media (min-width: 40rem) {
  .articles__grid .article {
    max-width: 45rem;
  }
  .articles__grid .article:not(:last-child) {
    margin-bottom: 0;
  }
  .articles__grid .article:last-child {
    margin-bottom: 0;
  }
}

.articles__grid .article__img {
  border-radius: 5px 5px 0px 0px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;
}

@media (min-width: 40rem) {
  .articles__grid .article__img {
    min-height: 14.6875rem;
    max-height: 235px;
  }
}

.articles__grid .article__text {
  padding: 1.5625rem 1.9375rem;
}

.articles__grid .article__text span {
  color: #9698a6;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
}

.articles__grid .article__text h4 {
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.285714px;
}

.articles__grid .article__text p {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
}

.footer {
  background-color: #2d314d;
  color: white;
  text-align: center;
  padding: 2.5rem 4.8125rem;
  max-width: 89rem;
  margin: 0 auto;
}

.footer div:not(:last-child) {
  margin-bottom: 2rem;
}

.footer div:nth-child(3) {
  margin-bottom: 0;
}

@media (min-width: 64rem) {
  .footer {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (minmax(30px, 80px))[1];
        grid-template-rows: repeat(1, minmax(30px, 80px));
        grid-template-areas: "logo links1 links2 button-cta" "socials links1 links2 copyright-text";
    padding: 3rem 10.3125rem;
  }
}

@media (min-width: 64rem) {
  .footer__logo {
    grid-area: logo;
  }
}

.footer__socials a:not(:last-child) {
  margin-right: 1rem;
}

@media (min-width: 64rem) {
  .footer__socials {
    grid-area: socials;
  }
}

.footer__links {
  line-height: 1.625rem;
}

@media (min-width: 64rem) {
  .footer .col1 {
    grid-area: links1;
  }
  .footer .col1 li {
    margin-bottom: 10px;
  }
}

@media (min-width: 64rem) {
  .footer .col2 {
    grid-area: links2;
  }
  .footer .col2 li {
    margin-bottom: 10px;
  }
}

.footer__copyright {
  color: #9698a6;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
}

@media (min-width: 64rem) {
  .footer__copyright-text {
    grid-area: copyright-text;
    text-align: right;
  }
}

.footer__copyright .button-cta {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

@media (min-width: 64rem) {
  .footer__copyright .button-cta {
    margin-right: 0;
    grid-area: button-cta;
  }
}
/*# sourceMappingURL=main.css.map */